# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# =========================
# OS files
# =========================
Thumbs.db
.DS_Store

# =========================
# Dataset (DO NOT PUSH)
# =========================
dataset/
videos/

# =========================
# YOLO / Training outputs
# =========================
runs/
*.pt
*.onnx
*.engine

# =========================
# Logs & caches
# =========================
*.log
*.cache

# =========================
# VS Code
# =========================
.vscode/
